.main-sidebar, .skin-blue .main-header .logo
    width: 250px

.main-header .navbar, .content-wrapper, .main-footer
    margin-left: 250px

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu
    width: 250px 

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container
    left: 254px !important
    top: -35px !important