.blog
    .item-post
        background-color: #f8f8ff
        height: 98%
        padding: 5px 2px
        margin-bottom: 10%
        a
            &:hover
                text-decoration: none !important
                
