.quem-somos
    .bg-box
        background: url(/img/pages/quem-somos/box.png) repeat
        .treepoints
            margin-top: 80px
            +breakpoint($celular)
                margin-top: 20px
                width: 80%
                margin: 0 auto
            li
                padding: 130px 20px 20px
                background-size: 70px !important
                background-position: 20px 40px !important
                +breakpoint($celular)
                    background-position: 20px 40px !important
                    padding: 130px 20px 20px
                &.missao
                    background: url(/img/pages/quem-somos/icone-missao.svg) no-repeat center center
                &.visao
                    background: url(/img/pages/quem-somos/icone-visao.svg) no-repeat center center
                &.valores
                    background: url(/img/pages/quem-somos/icone-valores.svg) no-repeat center center
                p
                    // font-size: 13px !important
                    // font-weight: 400 !important
                    +breakpoint($celular)
                        text-align: left !important
                h2
                    +breakpoint($celular)
                        text-align: left !important
                        // padding-left: 65px
                        line-height: 50px