.quem-somos
    .treepoints
        margin-top: 80px
        li
            padding: 35px 20px
            background-size: 50px !important
            background-position: 90px 20px !important
            &.missao
                background: url(/img/pages/quem-somos/QS_Estrela.png) no-repeat center center
            &.visao
                background: url(/img/pages/quem-somos/QS_alvo.png) no-repeat center center
            &.valores
                background: url(/img/pages/quem-somos/QS_Diamante.png) no-repeat center center