.container-fluid
    padding: 0

    
.swiper-pagination-bullet
    width: 18px !important
    height: 18px !important
    background: #fff !important
    border: 1px solid #0089C0 !important
    opacity: 1 !important
.swiper-pagination-bullet-active
    background: #0089C0 !important
.swiper-container
    +breakpoint($celular)
        padding-bottom: 30px !important
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
    +breakpoint($celular)
        bottom: 0 !important
.swiper-button-prev, .swiper-button-next
    +breakpoint($celular)
        display: none !important

.swiper-slide
    background-position: center
    background-size: cover    
    // max-height: 550px
    width: 100%
    .text
        z-index: 5
        position: absolute
        width: 410px
        height: 200px
        padding: 35px
        bottom: 20%
        left: 20%
        opacity: .85
        color: #fff !important
        +breakpoint($celular)
            width: 75%
            height: 50%
            bottom: 0
            left: 0
        h2
            color: #fff
            margin-bottom: 30px
        p
            color: #fff
        a.leia
            background-color: rgba(24, 74, 99, 1)
            padding: 5px 10px
            color: #fff
            font-weight: bold
            position: absolute
            bottom: 0
            right: 0
            +breakpoint($celular)
                background-color: unset
                padding: 5px
            &:hover
                text-decoration: none
                color: rgba(24, 74, 99, 1)
                background-color: #fff
img.form-img
    max-width: 60%

.home_banners
    .img-banner
        // height: 550px
        height: 500px
        +breakpoint($celular)
            height: 290px
.banner_default
    .img-banner
        height: 400px
        +breakpoint($celular)
            height: 265px