footer
    // background-color: #272A2E
    color: #707070
    padding: 30px 0 0
    margin-top: 30px
    background-color: #F8F8F8
    .text
        margin-top: 1rem
    p, a
        color: #707070
        +breakpoint($celular)
            font-size: 12px !important
    h5
        color: #0089C0
        margin: 10px 0
        font-weight: bold
    ul
        padding: 0
        list-style: none        
        &.list
            a
                &:hover
                    background-color: #0089C0
                    color: #fff
                    text-decoration: none
                    &:before
                         color: #fff 
                li
                    line-height: 18px
                    padding: 5px 0
                    &:hover
                        background-color: #0089C0
                        color: #fff
                    &:before
                        content: "-"
                        padding-right: 4px 
        &.social
            li
                float: left
                width: 38px
                height: 38px
                margin-right: 12px
                display: block
                a
                    width: 38px
                    height: 38px
                    display: block
                    &.facebook
                        background: url(/img/icons/social/ms_facebook1.png) no-repeat top                        
                    &.gplus
                        background: url(/img/icons/social/ms_gmais1.png) no-repeat top                        
                    &.linkedIn
                        background: url(/img/icons/social/ms_likedin1.png) no-repeat top                        
                    &.youtube
                        background: url(/img/icons/social/ms_youtube1.png) no-repeat top                        
                    &.whatsapp
                        background: url(/img/icons/social/ms_whatsapp1.png) no-repeat top                                            
                    &:hover
                        background-position-y: -37px                    
                span
                    display: none
        &.phone
            width: 300px
            height: 15px
            li
                width: 50%
                float: left
                line-height: 25px
                a.whats
                    display: block
                    background: url(/img/icons/whatsapp.svg) no-repeat top
                    background-size: 20px //contain
                    background-position-x: 0
                    padding-left: 30px
                    +breakpoint($celular)
                        font-size: 12px
                a.phone
                    display: block
                    background: url(/img/icons/phone.svg) no-repeat top
                    background-size: 20px //contain
                    background-position-x: 0
                    background-position-y: 3px
                    padding-left: 30px
                    +breakpoint($celular)
                        font-size: 12px
    a.mapa
        margin-left: 30px        
    a
        color: #707070
    .copyright
        margin-top: 10px
        // padding-top: 10px
        border-top: 2px solid #0089C0
        h6
            margin: 12px auto
            font-size: 10pt !important
    #footer-links
        margin: 10px 0 40px
        .item-footer
            border-bottom: 1px solid #0089C0
            a
                display: block
                height: fit-content
                background: url(/img/icons/direcionais_up.svg) no-repeat
                background-size: 14px
                background-position: 95% 50%
                &.collapsed
                    background: url(/img/icons/direcionais_down.svg) no-repeat
                    background-size: 14px
                    background-position: 95% 50%
                    h5
                        margin: 16px 0 8px
    .mapa_footer
        width: 90%
        margin: 0 auto
        iframe
            width: 100%
            height: 160px
    .ebook-footer
        height: 220px
        width: 100%