nav.navbar
    .dropdown:hover>.dropdown-menu
        display: block
    padding-top: 30px
    a.logo
        display: block
        background: url(/img/logocolor.png) no-repeat top center
        background-size: contain
        height: 43px
        width: 150px
        span
            display: none
    ul
        font-size: 12px
        &.menu
        text-transform: uppercase
        font-weight: bold        
        li
            border-bottom: 2px solid #fff
            &.active
                border-bottom: 2px solid #0089C0
            &:hover
                border-bottom: 2px solid #0089C0
            a
                &.whats
                    display: block
                    background: url(/img/icons/ico_mn-whatsapp-b2.png) no-repeat top
                    background-size: 18px //contain
                    background-position-x: 0
                    background-position-y: 6px
                    padding-left: 20px !important
                    margin-left: 5px
    ul
        .linha
            height: 100%
            width: 100%
            .col-menor
                width: 165px
                float: left
                margin-right: 40px
            .col-maior
                width: 310px
                float: left
        .dropdown-item
            &.active, &:active
                background-color: #007bff !important
            &:hover
                background-color: #0089C0 !important
        &.solutions
            &.dropdown-menu
                width: 630px
                padding: 40px 55px
                .dropdown-item
                    // padding: 0
                li 
                    // border: 1px solid blue
                    height: 40px
                    line-height: 40px
                    margin: 10px 0
                    float: left
                    width: 100%
                    a
                        padding: 0 0 0 40px 
                        display: block
                        // &.dropdown-item
                        //     padding: 20px 0 5px 40px
                        &.solucoes
                            background-size: 30px !important
                            background-position-x: 2px !important
                        &.solucoes-industrias
                            background: url(/img/icons/solucoes-industrias.png) no-repeat center
                        &.solucoes-varejo
                            background: url(/img/icons/solucoes-varejo.png) no-repeat center
                        &.solucoes-orgaos-publicos
                            background: url(/img/icons/solucoes-orgaos-publicos.png) no-repeat center
                        &.solucoes-condominios
                            background: url(/img/icons/solucoes-condominios.png) no-repeat center
                        &.solucoes-clinicas-e-hospitais
                            background: url(/img/icons/solucoes-clinicas-e-hospitais.png) no-repeat center
                        &.solucoes-escolas-e-universidades
                            background: url(/img/icons/solucoes-escolas-e-universidades.png) no-repeat center
                        &.solucoes-escritorios-e-ambientes-corporativos
                            background: url(/img/icons/solucoes-escritorios-e-ambientes-corporativos.png) no-repeat center
                    &.pqno 
                        margin-right: 40px
                        width: 160px
                    &.gde
                        // width: 260px