nav.navbar
    padding: 0
    background-color: #fff
    #top-bar
        height: 120px
        +breakpoint($celular)
            height: 100px
    
    .dropdown:hover>.dropdown-menu
        display: block
    a.logo
        display: block
        background: url(/img/logocolor.png) no-repeat top center
        background-size: contain
        height: 71px
        width: 250px
        margin-top: -30px
        +breakpoint($celular)
            height: 44px
            width: 155px
            margin: 40px 25px
        span
            display: none
    .menu-h
        height: 100%
        ul
            &.menu
            text-transform: uppercase
            font-weight: bold
            &.navbar-nav
                height: 100%
            &.dropdown-menu
                margin: 0
            li
                a.nav-link
                    padding-left: 12px !important
                    padding-right: 12px !important
                &:hover
                    background-color: #0089C0
                    a.nav-link
                        color: #fff !important
                a
                    color: rgba(0, 0, 0, 0.5)
                    height: 100%
                    h5
                        line-height: 25px
                        margin: 0
                        font-weight: 400 !important
                        &.root
                            margin-top: 40px
                    &.whats
                        background: url(/img/icons/whatsapp.svg) no-repeat top
                    &.phone
                        background: url(/img/icons/phone.svg) no-repeat top
                    &.whats, &.phone
                        display: block
                        background-size: 18px
                        background-position-x: 5px
                        background-position-y: 51px
                        padding-left: 25px !important
                        margin-left: 5px
                    &:hover
                        background-color: #0089C0
                        color: #fff !important
            &.solutions
                .linha
                    width: 640px
                    padding: 30px 45px
                    .col-menor
                        width: 175px
                        float: left
                    .col-maior
                        width: 340px
                        float: left
                        margin-left: 30px
                li 
                    height: 40px
                    line-height: 40px
                    margin: 5px 0
                    width: 100%
                    a
                        // padding: 0 0 0 40px 
                        h5
                            line-height: 40px
                        &.solucoes
                            background-size: 30px !important
                            background-position-x: 2px !important
                            background-position-y: 5px !important
                        // &.industrias
                        //     background: url(/img/icons/solucoes-industrias.png) no-repeat top
                        // &.varejo
                        //     background: url(/img/icons/solucoes-varejo.png) no-repeat top
                        // &.orgaos-publicos
                        //     background: url(/img/icons/solucoes-orgaos-publicos.png) no-repeat top
                        // &.condominios
                        //     background: url(/img/icons/solucoes-condominios.png) no-repeat top
                        // &.clinicas-e-areas-de-saude
                        //     background: url(/img/icons/solucoes-clinicas-e-hospitais.png) no-repeat top
                        // &.escolas-e-universidades
                        //     background: url(/img/icons/solucoes-escolas-e-universidades.png) no-repeat top
                        // &.escritorios-e-ambientes-corporativos
                        //     background: url(/img/icons/solucoes-escritorios-e-ambientes-corporativos.png) no-repeat top
    
    .icons_mobile
        margin-top: 30px
        margin-right: 12px
        ul li.mobile1
            margin-right: 15px
            a.mobile
                width: 30px
                height: 30px
                display: block
                &.Fone
                    background: url(/img/icons/icon_phone50px.png) no-repeat center center
                    background-size: cover
                &.Whatsapp
                    background: url(/img/icons/icon_whatsapp50px.png) no-repeat center center
                    background-size: cover
                &.Menu
                    background: url(/img/icons/menu-03.png) no-repeat center center
                    background-size: cover

                span
                    display: none
        +breakpoint($celular)
            display: block
        .modal.show .modal-dialog .modal-content
            height: unset
            .modal-body
                background-color: #F6F6F6
                padding: unset
                .row
                    margin: 0
                #menu_mobile
                    // padding: 10px
                    a.close-btn
                        width: 21px
                        height: 17px
                        display: block
                        background: url(/img/icons/setas_clientes_12x20.png) no-repeat bottom left
                        background-size: 20px 35px
                        margin: 8px
                    a.link_menu
                        display: block
                        padding: 8px 5px 8px 25px
                        width: 100%
                        color: #707070
                        background: url(/img/icons/seta_services.png) no-repeat center
                        background-position-x: 95%
                        background-size: 7px
                        &.clps
                            &:not(.collapsed)
                                background: #0089C0 url(/img/icons/seta_services-b.png) no-repeat center
                                background-position-x: 95%
                                color: #fff
                                background-size: 10px
                        &.phone, &.whats, &.mail
                            padding-left: 55px
                        &.phone
                            background: url(/img/icons/phone.svg) no-repeat center left
                            background-size: 20px
                            background-position-x: 25px
                        &.whats
                            background: url(/img/icons/whatsapp.svg) no-repeat center left
                            background-size: 20px
                            background-position-x: 25px
                        &.mail
                            background: url(/img/icons/ico_mn-mail.svg) no-repeat center left
                            background-size: 20px
                            background-position-x: 25px
                            background-position-y: 7px
                    .collapse
                        width: 100%
                    ul
                        width: 100%
                        padding-left: 35px
                        li 
                            background: url(/img/icons/seta_services.png) no-repeat center
                            background-position-x: 95%
                            background-size: 5px
                            a
                                padding: 5px 0 !important
                                margin: 0
                                color: #707070
                                display: block
                                width: 100%
                                padding: 0
                                &:hover
                                    text-decoration: none !important
                .barra
                    .cinza
                        color: #fff
                        padding: 15px 30px
                        background-color: #424041
                        p
                            margin: 0
                    .azul
                        background-color: #0089C0
                        a
                            color: #fff
                            padding: 35px 20px
                            display: block
                            background: url(/img/icons/ico_mn-sair-01.svg) no-repeat center center
                            background-size: 25px
                            background-position-x: 45px
                .barra-verde
                    background-color: #C3D987
                    ul.social
                        width: unset
                        padding: unset
                        margin: 0 auto
                        li
                            float: left
                            width: 38px
                            height: 38px
                            margin-right: 12px
                            display: block
                            a
                                width: 38px
                                height: 38px
                                display: block
                                &.facebook
                                    background: url(/img/icons/social/ms_facebook1.png) no-repeat top                        
                                &.gplus
                                    background: url(/img/icons/social/ms_gmais1.png) no-repeat top                        
                                &.linkedIn
                                    background: url(/img/icons/social/ms_likedin1.png) no-repeat top                        
                                &.youtube
                                    background: url(/img/icons/social/ms_youtube1.png) no-repeat top                        
                                &.whatsapp
                                    background: url(/img/icons/social/ms_whatsapp1.png) no-repeat top                                            
                                &:hover
                                    background-position-y: -37px                    
                            span
                                display: none
            
            

        .closed
            display: inline-block
        #modal
            .modal-content
                img.modal_logo
                    margin: 0 auto
                    display: block
                
.navbar.sticky-top.scrolled
    background-color: #fff !important
    border-bottom: 1px solid #dedede
    opacity: .95
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.090) !important
    transition: background-color box-shadow border-bottom opacity 1000ms linear
    +breakpoint($celular)
        opacity: unset
        box-shadow: unset !important
    #top-bar
        height: unset
        a.logo
            margin: unset
            width: 180px
            height: 51px
            +breakpoint($celular)
                height: 44px
                width: 155px
                margin: 8px 12px
        h5
            margin: 0
        a.whats, a.phone
            background-position-y: 11px