
.modal.fade .modal-dialog
    transform: translate(100%, 0)

.modal.show .modal-dialog
    max-width: 50vw
    transform: translate(51%, 0)
    height: 100%
    margin: 0 auto
    +breakpoint($celular)
        max-width: 90%
        height: unset
    .modal-content
        border: 0 !important
        border-radius: 0 !important
        height: 100vh
        // +breakpoint($celular)
        //     height: unset
        