.modal.show .modal-dialog
    max-width: 650px !important
    border: 5px solid #F29E21
    .modal-content
        border: 0 !important
        border-radius: 0 !important

.modal.fade .modal-dialog
    transform: translate(100%, 0)

.modal.show .modal-dialog
    transform: translate(56%, 0)
    height: 100%
    margin: 0 auto
.modal.show .modal-dialog .modal-content    
    height: 100%