.corpo
    margin-top: -70px
    padding-top: 10px
    background-color: #fff
    display: block
    z-index: 4
    position: relative
    &.mt-orange
        border-top: 5px solid #F29E21
    &.mt-blue
        border-top: 3px solid #0089C0
    h1
        padding-bottom: 50px
    .mt-50
        margin: 50px 0
    ul
        text-align: left
.bradcrump 
    p
        font-size: 10px !important
        color: #808080 !important
        font-weight: bold !important

.borda
    border: 1px solid #d8d8d8
    padding: 20px

.borda2
    border: 1px solid #d8d8d8
    padding: 10px

h1
    font-size: 20px
    font-weight: bold
    color: #707070
    text-transform: uppercase

h2
    font-size: 16px
    color: #27292C
    text-transform: uppercase

h3
    font-size: 14px
    font-weight: bold
    color: #27292C
    text-transform: uppercase

p, li
    font-size: 12px
    line-height: 18px
    color: #27292C

.blog-post 
    .bradcrump 
        margin: 20px 0 40px
    h2
        text-transform: capitalize
        margin: 10px 0 40px

.pagination
    *:focus
        outline: none
        box-shadow: none

.sticky-top.scrolled
    background-color: #fff !important
    transition: background-color 200ms linear
.navbar.scrolled
    padding: 0.2rem 1rem
    opacity: .93
    transition: padding opacity 200ms linear

