.corpo
    margin-top: -70px
    padding-top: 10px
    background-color: #f5f8fa
    display: block
    z-index: 5
    position: relative
    border-top: 5px solid #F29E21
    .bradcrump
        font-size: 10px
        color: #808080
        font-weight: bold
    h1
        padding-bottom: 50px
    .mt-50
        margin: 50px 0